<div class="container mt-5">
  <table mat-table [dataSource]="dettagli" class="mat-elevation-z8">
    <ng-container matColumnDef="prodotto">
      <th mat-header-cell *matHeaderCellDef> Prodotto </th>
      <td mat-cell *matCellDef="let element"> {{ element.prodotto.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="brend">
      <th mat-header-cell *matHeaderCellDef> Marca</th>
      <td mat-cell *matCellDef="let element"> {{ element.prodotto.brend }} </td>
    </ng-container>

    <ng-container matColumnDef="prezzo">
      <th mat-header-cell *matHeaderCellDef> Prezzo</th>
      <td mat-cell *matCellDef="let element"> {{ element.prodotto.prezzo }} </td>
    </ng-container>

    <ng-container matColumnDef="taglia">
      <th mat-header-cell *matHeaderCellDef> Taglia</th>
      <td mat-cell *matCellDef="let element"> {{ element.prodotto.taglia }} </td>
    </ng-container>

    <ng-container matColumnDef="quantita">
      <th mat-header-cell *matHeaderCellDef> Quantita </th>
      <td mat-cell *matCellDef="let element"> {{ element.quantita }} </td>
    </ng-container>

    <ng-container matColumnDef="subtotale">
      <th mat-header-cell *matHeaderCellDef> Subtotale </th>
      <td mat-cell *matCellDef="let element">
        {{ element.totale}}$
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="total">
    Totale: {{ getTotal() }}$
  </div>
</div>
