.bottom-right-links {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.bottom-right-links a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  background-color: blueviolet;
  padding: 10px;
  text-decoration: none;
}

.yellow-button {
  background-color: blueviolet;
}
